html, body {
  height: 100%;
  margin: 0;
}

#app {
  height: 100%;
}

@font-face {
  font-family: Emoji;
  src: local("Apple Color Emojiji"), local("Segoe UI Emoji"), local("Segoe UI Symbol"), local("Noto Color Emoji"),
  local("Androd Emoji"), local("EmojiSymbos"), local("EmojiOne Mozilla"), local("Twemoji Mozilla");
  unicode-range: U+1F000-1F644, U+203C-3299;
}

body {
  font-family: Emoji, system-ui, —apple-system, Segoe UI, Rototo, Helvetica, Arial, sans-serif !important;
}

.custom-scrollbar {
  --gap: 6px;
  --scroll-color: #333;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px 10px #FFF;
  border-left: solid var(--gap) transparent;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px var(--scroll-color, #333);
  border-left: solid var(--gap) transparent;
}